@use "reset";
@use "header";
@use "section";
@use "responsividade";

body {
    background-color: #dcd8cf;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}












