@use "reset";
@use "header";
@use "section";
@use "responsividade";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");





body {
    background-color: #dcd8cf;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}












